
body {
	line-height: 1em;
	margin: 0 auto;
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'Saira Condensed', sans-serif;
	-webkit-font-smoothing: antialiased; 
}

/*Header Image*/
.masthead {
	background-image: url(http://i.imgur.com/AJNcbaJ.jpg);
	background-size: cover;
	padding: 6em 0;
	overflow: auto;
	height: 16em;
	background-position: center;
	border-top: 2em solid black;
	background-repeat: none;	
}
.masthead h1 {
	text-transform: uppercase;
	font-size: 4em;
	line-height: 1em;
}
.masthead h3 {
	font-weight: lighter;
	font-size: 2.1em;
	font-style: italic;
	line-height: 1em;
}
h2, footer {
	text-transform: uppercase;
	letter-spacing: 0.03em;
}
p {
	color: #6D7171;
	color: white;

}
.about, .samples {
	max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
.about {
	margin-top: 1em;
}
ul {
	list-style: none;
	display: block;
	margin-right: 2.7em;
}

img {
	padding: 1em;
	width: 100%;
	height: auto;
}
/*footer*/
footer > p {
	text-transform: none;
}
hr {
	max-width: 40em;
}
footer ul {
	list-style: none;
	display: inline-flex;
	margin-right: 2.7em;
}
a {
	color: white;
}
a:visited {
	color: #FF1493;
}
a:hover {
	color: teal;
	transition: 0.5s;
}
.icon-background {
	color: #EDEDF0;
}
/*Responsive*/
@media only screen and (max-width: 450px)
{ 
.masthead {
	padding: 3em 0;
}
.masthead h1 {
	font-size: 3em;
}
.masthead h3 {
	font-size: 1.5em;
}
ul {
	display: inline-block;
	margin: 0 auto;
}
}